@import "tailwindcss";

@utility container {
  margin: auto;
  padding-inline: 2rem;
}

@theme {
  --color-primary: #C4C4C4;
  --color-secondary: #D6A033;
  --color-third: #F5F2EB;
  --color-kala: #181D21;
  --color-halka-sada: #FEFEFE;
}